<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="extentReportListener.ExtentReporterNG"></listener>
	</listeners>

	<test name="urlValidation">
		<classes>
			<class
				name="SeleniumTestSuit.NewSeleniumTest.titleValidationTest" />
		</classes>
	</test> <!-- Test -->
	<test name="titleValidation">
		<classes>
			<class name="SeleniumTestSuit.NewSeleniumTest.URLTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->